@import "tailwindcss";

:root { --background: #ffffff; --foreground: #000000; }
.dark { --background: #000000; --foreground: #ffffff; }

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}